.faq{
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 58px;
}
.faqtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
.faqtitulo h1{
    font-family: "DM Serif Text", serif;
    font-size: 40px;
}
.faqtexto{
    margin-top: 22px;
}
.faqtexto h2{
    margin-bottom: 10px;
    color: black;
}
.faqtexto p{
    width: 100%;
    color: rgb(58, 58, 58);
}
.lineafaq1{
    height: 2px;
    background-color: #181818;
    width: 100%;
    z-index: 1000;
    margin-top: 50px;
}
.lineafaq2{
    height: 2px;
    background-color: #181818;
    width: 100%;
    z-index: 1000;
    margin-top: 25px;
}
